// 覆盖elmentui样式

:root {
//   --el-color-primary: #409EFF;
  .el-menu-item.is-active{
    background-color: var(--el-color-primary);
    color: #fff;
  }
  .el-aside {
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
    -moz-transition: width 0.15s;
    -webkit-transition: width 0.15s;
    -o-transition: width 0.15s;
  }
  .el-table-v2__overlay {
    z-index: 0 !important;
  } 
}
