// 覆盖elmentui样式

:root {
  .el-aside {
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
    -moz-transition: width 0.15s;
    -webkit-transition: width 0.15s;
    -o-transition: width 0.15s;
  }
  .el-table-v2__overlay {
    z-index: 0 !important;
  } 
  .el-card{
    --el-card-padding : 10px;
  }
  .v-contextmenu {
    z-index: 10000 !important;
  }
  .el-card__body {
    padding: 0 !important;
    width: 100%;
    height: 100%;
  } 
}


//滚动条
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--el-bg-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--el-color-info-light-7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--el-color-info-light-7);
}

::-webkit-scrollbar-corner {
  background: var(--el-color-info-light-7);
}
